{% extends '../base.twig' %}
{% import '../macros/eventcard.twig' as card %}
{% import '../modules/breadcrumbs.twig' as breadcrumbs %}
{% set offset = true %}
{% set breadcrumbsType = true %}
{% set breadcrumbs = [
    {
        title: 'Афиша',
        link: '#'
    },
    {
        title: 'Спящая красавица',
        active: true
    }
] %}

{% block title %}Выбор места{% endblock %}

{% block content %}
    <section class="event-poster">
        <div class="container">
            <div class="row">
                <div class="slider col-lg-3">
                    <div class="js-slider  js-slider-for slider__for">
                        <div>
                            <a class="js-gallery-popup" href="/img/slider/1.jpg">
                                <img class="slider__img" src="/img/slider/1.jpg">
                            </a>
                        </div>
                        <div>
                            <a class="js-gallery-popup" href="/img/slider/2.jpg">
                                <img class="slider__img" src="/img/slider/2.jpg">
                            </a>
                        </div>
                        <div>
                            <a class="js-gallery-popup" href="/img/slider/3.jpg">
                                <img class="slider__img" src="/img/slider/3.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="js-slider  js-slider-nav  slider__nav">
                        <div>
                            <a class="js-gallery-popup" href="/img/slider/1.jpg">
                                <img class="slider__img" src="/img/slider/1.jpg">
                            </a>
                        </div>
                        <div>
                            <a class="js-gallery-popup" href="/img/slider/2.jpg">
                                <img class="slider__img" src="/img/slider/2.jpg">
                            </a>
                        </div>
                        <div>
                            <a class="js-gallery-popup" href="/img/slider/2.jpg">
                                <img class="slider__img" src="/img/slider/3.jpg">
                            </a>
                        </div>
                        <div>
                            <a class="js-gallery-popup" href="/img/slider/1.jpg">
                                <img class="slider__img" src="/img/slider/3.jpg">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="event-poster__inner col-lg-9">
                    {% include '../modules/breadcrumbs.twig' %}
                    <p class="event-poster__info title-h4">Балет</p>
                    <p class="event-poster__name title">Спящая красавица</p>
                    <p class="event-poster__notice text">Ограничение по возрасту: <span>12+</span></p>
                </div>
            </div>
        </div>
    </section>
    <section class="events">
        <div class="switch events__switch js-sticky-switch">
            <p class="switch__text">Вид:</p>
            <svg class="icon-svg switch__icon  _grid _active">
                <use xlink:href="#squares"></use>
            </svg>
            <svg class="icon-svg switch__icon  __list">
                <use xlink:href="#list"></use>
            </svg>
        </div>
        <div class="container">
            <section class="events__section">
                <h2 class="events__title title-h2">Афиша на ближайшие дни</h2>
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица спала вечным сном',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Сентября',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
            </section>
            <section class="events__section">
                <h2 class="events__title title-h2">Наши рекомендации</h2>
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
            </section>
        </div>
    </section>
    <section class="about-event">
        <div class="container  about-event__text">
            <p>
                Опера в 4-х действиях
                музыка Вольфганга Амадея Моцарта
            </p>
            <p><strong>Постановщики</strong></p>
            <p>
                Либретто Лоренцо да Понте по пьесе Пьера-Огюстена Карона де Бомарше «Безумный день, или Женитьба Фигаро»
                <br>
                Музыкальный руководитель постановки: Михаил Татарников <br>
                Режиссёр-постановщик: Вячеслав Стародубцев <br>
                Художник-постановщик: Пётр Окунев <br>
                Художник по костюмам: Жанна Усачёва <br>
                Художник по свету: Сергей Скорнецкий <br>
                Видеохудожник: Вадим Дуленко <br>
                Хореограф: Артур Ощепков <br>
                Художественный руководитель и главный дирижёр хора: Владимир Столповских <br>
                Ответственный концертмейстер: Мария Копысева <br>
                Ассистент дирижёра: Филипп Селиванов <br>
                Ассистент режиссёра-постановщика: Вячеслав Калюжный <br>
                Ассистент хореографа: Мария Большакова <br>
                Хормейстеры: Алексей Дмитриев, Сергей Цыпленков <br>
                Концертмейстеры: Мария Микиртумова, Александр Пакуев <br>
                Консультант по итальянскому языку: Дарья Митрофанова <br>
                Субтитры: Маргарита Куницына-Танкевич <br>
                Режиссёр, ведущий спектакль: Ольга Кох <br>
                Ассистент режиссёра, ведущего спектакль: Елена Пискунова <br>
            </p>
            <p>
                Спектакль «Моцарт. Свадьба Фигаро» Вячеслава Стародубцева исполнен восточными мотивами, которые
                отразятся и в стиле актерского существования. В работе над постановкой одной из главных опер Вольфганга
                Амадея Моцарта режиссер вдохновлялся модной в европейском искусстве конца XVIII века стилистикой
                шинуазри. Это изысканное ответвление рококо, навеянное искусством средневекового Китая. Фарфор,
                многоцветные шелка, раздвижные ширмы, домики для чаепитий в тайных уголках сада стали частью домашнего
                уклада европейской аристократии.
            </p>
        </div>
        <div class="container about-event__promo">
            <p>
                Премьера постановки: 11 мая 2017 года
            </p>
            <p>
                Исполняется на итальянском языке (сопровождается титрами на русском языке)
            </p>
            <p>
                Продолжительность спектакля 3 часа 30 минут
                Спектакль идет с двумя антрактами
            </p>
            <p>
                Купить билеты на спектакль Моцарт. Свадьба Фигаро, который состоится в Михайловском театре, вы можете на
                сайте mikhailovskiy.ru и по телефону 8(812) 969-19-59
            </p>
        </div>
    </section>
{% endblock %}