{% extends '../base.twig' %}
{% import '../macros/eventcard.twig' as card %}
{% import '../macros/event-search.twig' as eventSearch %}
{% set headerMenuBg = true %}
{% set breadcrumbs = [
    {
        title: 'Балет',
        link: '#'
    },
    {
        title: 'Историческая сцена',
        link: '#'
    },
    {
        title: '10 июня',
        active: true
    }
] %}

{% block title %}Афиша{% endblock %}

{% block content %}
    {{ eventSearch.classList("_bg") }}
    <section class="events">
        <div class="switch events__switch js-sticky-switch">
            <p class="switch__text">Вид:</p>
            <svg class="icon-svg switch__icon  _grid _active">
                <use xlink:href="#squares"></use>
            </svg>
            <svg class="icon-svg switch__icon  __list">
                <use xlink:href="#list"></use>
            </svg>
        </div>
        <div class="container">
            {% include '../modules/breadcrumbs.twig' %}
            <section class="events__section">
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица спала вечным сном',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Сентября',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                <button class="events__loadmore  title-h5  link-accent">
                    <svg class="icon-svg">
                        <use xlink:href="#reload"></use>
                    </svg>
                    Загрузить еще
                </button>
            </section>
            {% include '../modules/pagination.twig' %}
        </div>
    </section>
{% endblock %}