{% extends '../base.twig' %}
{% import '../macros/eventcard.twig' as card %}
{% import '../modules/breadcrumbs.twig' as breadcrumbs %}
{% set breadcrumbsType = true %}
{% set breadcrumbsUsual = true %}
{% set headerMenuBg = true %}
{% set breadcrumbs = [
    {
        title: 'Главная',
        link: '/'
    },
    {
        title: 'Корзина',
        active: true
    }
] %}

{% block title %}Корзина{% endblock %}

{% block content %}
    <section class="cart-page section">
        <div class="container">
            <h1 class="cart-page__title title col-12">Корзина</h1>
            <div class="col-12 col-lg-7 col-xl-8">
                {{ card.eventcard({
                    type: 'cart',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена',
                    place: 'Бенуар. Правая сторона. Ложа 8 Место 4',
                    cost: '2 500 &#8381'
                }) }}
                {{ card.eventcard({
                    type: 'cart',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Сентября',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена',
                    place: 'Бенуар. Правая сторона. Ложа 8 Место 4',
                    cost: '4 500 &#8381'
                }) }}
                {{ card.eventcard({
                    type: 'cart',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена',
                    place: 'Бенуар. Правая сторона. Ложа 8 Место 4',
                    cost: '1 500 &#8381'
                }) }}
                <div class="cart-page__sum-inner">
                    <p class="cart-page__sum-text">Итого: <span>15 500 &#8381</span></p>
                    <div class="cart-page__notice">
                        <svg class="icon-svg">
                            <use xlink:href="#danger"></use>
                        </svg>
                        <p class="cart-page__notice-text">
                            Срок бронирования заказа с электронным билетом <strong>ограничен до 30 минут</strong>.
                            В течение данного времени заказ должен быть оплачен.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5 col-xl-4">
                <section class="pay">
                    <div class="pay__head">
                        <button class="js-pay-close pay__back"></button>
                        <p class="pay__head-text title-h3">Покупка билетов</p>
                    </div>
                    <form action="" class="pay__form">
                        <label class="radio text">Оплата банковской картой
                            <input type="radio" name="radio" checked>
                            <span class="radio__checkmark"></span>
                        </label>
                        <div class="pay-tab">
                            <button class="pay-tab__link js-link" onclick="openTab(event, 'online')" id="defaultOpen"
                                    type="button">Электронный билет
                            </button>
                            <button class="pay-tab__link js-link" onclick="openTab(event, 'delivery')"
                                    type="button">Доставка 300 &#8381
                            </button>
                        </div>
                        <div id="online" class="pay-tab__tab-content js-tab">
                            <div class="pay__notice-inner">
                                <p class="pay__text-notice small">
                                    Билеты будут отправлены на ваш Email сразу, после подтверждения оплаты.
                                </p>
                            </div>
                            <input class="pay__input" type="text" placeholder="Ваше имя" name="name" required
                            >
                            <input class="pay__input phone-mask" type="tel" name="tel" placeholder="Ваш телефон"
                                   required
                            >
                            <input class="pay__input" type="email" name="email" placeholder="Email" required
                            >
                        </div>
                        <div id="delivery" class="pay-tab__tab-content js-tab">
                            <div class="pay__notice-inner">
                                <svg class="icon-svg _warning">
                                    <use xlink:href="#danger"></use>
                                </svg>
                                <p class="pay__text-notice small">
                                    Доставка осуществляется <span>в черте Москвы</span>.
                                </p>
                            </div>
                            <input class="pay__input" type="text" placeholder="Ваше имя" name="name" required
                            >
                            <input class="pay__input phone-mask" type="tel" name="tel" placeholder="Ваш телефон"
                                   required
                            >
                            <input class="pay__input" type="email" name="email" placeholder="Email" required
                            >
                            <input class="pay__input" type="text" name="email" placeholder="Адрес доставки" required
                            >
                            <button class="pay__add-coment small link-second js-add-coment" type="button">Добавить
                                комментарий
                            </button>
                            <textarea class="js-textarea" name="coment" id="coment" placeholder="Оставить комментарий"
                                      hidden></textarea>
                        </div>
                        <label class="checkbox  text"> Я согласен с <a class="link-second" href="#">договором оферты</a>
                            <input type="checkbox">
                            <span class="checkbox__checkmark"></span>
                        </label>
                        <p class="pay__text-sum title-h4">К оплате: <span>5 500 &#8381</span></p>
                        <button class="btn _big">Перейти к оплате</button>
                    </form>
                </section>
                <div class="cart-page__protect-inner">
                    <img src="/img/ssl.png" alt="">
                    <p>
                        Безопасная покупка и защита ваших данных по SLL-сертификатам.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}