{% extends '../base.twig' %}
{% import '../modules/breadcrumbs.twig' as breadcrumbs %}
{% set breadcrumbsType = true %}
{% set breadcrumbsUsual = true %}
{% set headerMenuBg = true %}
{% set breadcrumbs = [
    {
        title: 'Главная',
        link: '/'
    },
    {
        title: 'Контакты',
        active: true
    }
] %}
{% block title %}Контакты{% endblock %}

{% block content %}
    <section class="contacts section">
        <div class="container">
            {% include '../modules/breadcrumbs.twig' %}
            <h1 class="contacts__title">Контакты</h1>
            <section class="contacts__info">
                <p class="contacts__item title-h3">Билетный стол:
                    <a href="tel:+78129152716" class="link-accent">
                        <span>+7 (812)</span> 915-27-16
                    </a>
                </p>
                <p class="contacts__item title-h3">WhatAspp:
                    <a href="whatsapp://send?phone=+78129152716" class="link-accent">
                        <span>+7 (812)</span> 915-27-16
                    </a>
                </p>
                <p class="contacts__item title-h3">Email:
                    <a href="mailto:mariinskyticket@gmail.com" class="link-second">
                        mariinskyticket@gmail.com
                    </a>
                </p>
                <p class="contacts__text  title-6"><strong>ИНН: </strong>300302544284</p>
                <p class="contacts__text  title-6">
                    <strong>РЕЖИМ РАБОТЫ:</strong><br>
                    ПН-ПТ 10:00 - 20:00 <br>
                    СБ-ВС 11:00 - 17:00
                </p>
            </section>
        </div>
    </section>
    <section class="contacts-address-block">
        <div class="container">
           <p class="contacts-address-block__title  title-h4">Мариинcкий театр</p>
           <p class="contacts-address-block__text title-h6">Театральная пл., 1, Санкт-Петербург, 190000</p>
        </div>
        <div class="map" id="map"></div>
    </section>
    <section class="contacts-address-block">
        <div class="container">
           <p class="contacts-address-block__title  title-h4">Концертный зал Мариинского театра </p>
           <p class="contacts-address-block__text title-h6">ул. Писарева, 20, Санкт-Петербург, 190121</p>
        </div>
        <div class="map" id="map-1"></div>
    </section>

    <script>
        ymaps.ready(function () {
            var myMap = new ymaps.Map('map', {
                    center: [59.925728, 30.296240],
                    zoom: 12,
                    controls: ['zoomControl']
                }, {
                    searchControlProvider: 'yandex#search'
                }),


                // Создаём макет содержимого.
                MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
                    '<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
                ),


                myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
                    hintContent: 'Театральная площадь, 1',
                    balloonContent: 'Театральная площадь, 1'
                }, {
                    // Опции.
                    // Необходимо указать данный тип макета.
                    iconLayout: 'default#image',
                    // Своё изображение иконки метки.
                    iconImageHref: '/img/icons-svg/marker.svg',
                    // Размеры метки.
                    iconImageSize: [30, 42],
                    // Смещение левого верхнего угла иконки относительно
                    // её "ножки" (точки привязки).
                    iconImageOffset: [-5, -5]
                });

            myMap.behaviors.disable('scrollZoom');

            myMap.geoObjects
                .add(myPlacemark);
        });
    </script>
    <script>
        ymaps.ready(function () {
            var myMap = new ymaps.Map('map-1', {
                    center: [59.925182, 30.286763],
                    zoom: 12,
                    controls: ['zoomControl']
                },
                {
                    searchControlProvider: 'yandex#search'
                }),

                // Создаём макет содержимого.
                MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
                    '<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
                ),

                myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
                    hintContent: 'улица Писарева, 20',
                    balloonContent: 'улица Писарева, 20'
                }, {
                    // Опции.
                    // Необходимо указать данный тип макета.
                    iconLayout: 'default#image',
                    // Своё изображение иконки метки.
                    iconImageHref: '/img/icons-svg/marker.svg',
                    // Размеры метки.
                    iconImageSize: [30, 42],
                    // Смещение левого верхнего угла иконки относительно
                    // её "ножки" (точки привязки).
                    iconImageOffset: [-5, -5]
                });

            myMap.behaviors.disable('scrollZoom');

            myMap.geoObjects
                .add(myPlacemark);
        });
    </script>
{% endblock %}