{% extends '../base.twig' %}
{% import '../macros/place-card.twig' as placeCard %}
{% import '../modules/breadcrumbs.twig' as breadcrumbs %}
{% set offset = true %}
{% set breadcrumbsType = true %}
{% set breadcrumbs = [
    {
        title: 'Балет',
        link: '#'
    },
    {
        title: 'Историческая сцена',
        link: '#'
    },
    {
        title: '10 июня',
        active: true
    }
] %}

{% block title %}Выбор места{% endblock %}

{% block content %}
    <section class="event-poster">
        <div class="container">
            <div class="row">
                <div class="slider col-lg-3">
                    <div class="js-slider  js-slider-for slider__for">
                        <div>
                            <a class="js-gallery-popup" href="/img/slider/1.jpg">
                                <img class="slider__img" src="/img/slider/1.jpg">
                            </a>
                        </div>
                        <div>
                            <a class="js-gallery-popup" href="/img/slider/2.jpg">
                                <img class="slider__img" src="/img/slider/2.jpg">
                            </a>
                        </div>
                        <div>
                            <a class="js-gallery-popup" href="/img/slider/3.jpg">
                                <img class="slider__img" src="/img/slider/3.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="js-slider  js-slider-nav  slider__nav">
                        <div>
                            <a class="js-gallery-popup" href="/img/slider/1.jpg">
                                <img class="slider__img" src="/img/slider/1.jpg">
                            </a>
                        </div>
                        <div>
                            <a class="js-gallery-popup" href="/img/slider/2.jpg">
                                <img class="slider__img" src="/img/slider/2.jpg">
                            </a>
                        </div>
                        <div>
                            <a class="js-gallery-popup" href="/img/slider/2.jpg">
                                <img class="slider__img" src="/img/slider/3.jpg">
                            </a>
                        </div>
                        <div>
                            <a class="js-gallery-popup" href="/img/slider/1.jpg">
                                <img class="slider__img" src="/img/slider/3.jpg">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="event-poster__inner col-lg-9">
                    {% include '../modules/breadcrumbs.twig' %}
                    <p class="event-poster__info title-h4">Балет</p>
                    <p class="event-poster__name title">Спящая красавица</p>
                    <p class="event-poster__date title-h3">27 мая, среда 19:30</p>
                    <div class="event-poster__place">
                        <svg class="icon-svg _pin">
                            <use xlink:href="#pin-full"/>
                        </svg>
                        <p class="event-poster__room title-h5">Историческая сцена (Площадь искусств, 1)</p>
                    </div>
                    <p class="event-poster__notice text">Ограничение по возрасту: <span>12+</span></p>
                </div>
            </div>
        </div>
    </section>
    <section class="places">
        <div class="container">
            <p class="title-h2">Выберите места</p>
            <div class="places__change">

            </div>
        </div>
    </section>
    <section class="about-event">
        <div class="container  about-event__text">
            <p>
                Опера в 4-х действиях
                музыка Вольфганга Амадея Моцарта
            </p>
            <p><strong>Постановщики</strong></p>
            <p>
                Либретто Лоренцо да Понте по пьесе Пьера-Огюстена Карона де Бомарше «Безумный день, или Женитьба Фигаро»
                <br>
                Музыкальный руководитель постановки: Михаил Татарников <br>
                Режиссёр-постановщик: Вячеслав Стародубцев <br>
                Художник-постановщик: Пётр Окунев <br>
                Художник по костюмам: Жанна Усачёва <br>
                Художник по свету: Сергей Скорнецкий <br>
                Видеохудожник: Вадим Дуленко <br>
                Хореограф: Артур Ощепков <br>
                Художественный руководитель и главный дирижёр хора: Владимир Столповских <br>
                Ответственный концертмейстер: Мария Копысева <br>
                Ассистент дирижёра: Филипп Селиванов <br>
                Ассистент режиссёра-постановщика: Вячеслав Калюжный <br>
                Ассистент хореографа: Мария Большакова <br>
                Хормейстеры: Алексей Дмитриев, Сергей Цыпленков <br>
                Концертмейстеры: Мария Микиртумова, Александр Пакуев <br>
                Консультант по итальянскому языку: Дарья Митрофанова <br>
                Субтитры: Маргарита Куницына-Танкевич <br>
                Режиссёр, ведущий спектакль: Ольга Кох <br>
                Ассистент режиссёра, ведущего спектакль: Елена Пискунова <br>
            </p>
            <p>
                Спектакль «Моцарт. Свадьба Фигаро» Вячеслава Стародубцева исполнен восточными мотивами, которые
                отразятся и в стиле актерского существования. В работе над постановкой одной из главных опер Вольфганга
                Амадея Моцарта режиссер вдохновлялся модной в европейском искусстве конца XVIII века стилистикой
                шинуазри. Это изысканное ответвление рококо, навеянное искусством средневекового Китая. Фарфор,
                многоцветные шелка, раздвижные ширмы, домики для чаепитий в тайных уголках сада стали частью домашнего
                уклада европейской аристократии.
            </p>
        </div>
        <div class="container about-event__promo">
            <p>
                Премьера постановки: 11 мая 2017 года
            </p>
            <p>
                Исполняется на итальянском языке (сопровождается титрами на русском языке)
            </p>
            <p>
                Продолжительность спектакля 3 часа 30 минут
                Спектакль идет с двумя антрактами
            </p>
            <p>
                Купить билеты на спектакль Моцарт. Свадьба Фигаро, который состоится в Михайловском театре, вы можете на
                сайте mikhailovskiy.ru и по телефону 8(812) 969-19-59
            </p>
        </div>
    </section>
    <section class="sticky-cart">
        <div class="container">
            <p class="sticky-cart__count title-h5">2 билета</p>
            <div class="sticky-cart__places">
                {{ placeCard.placecard({
                    type: 'Партер',
                    place: 'Ряд 9, Место 16',
                    cost: '3 000 &#8381;',
                }) }}
                {{ placeCard.placecard({
                    type: 'Балкон',
                    place: 'Ряд 10, Место 16',
                    cost: '7 000 &#8381;',
                }) }}
                {{ placeCard.placecard({
                    type: 'Балкон',
                    place: 'Ряд 10, Место 16',
                    cost: '7 000 &#8381;',
                }) }}
            </div>
            <p class="sticky-cart__sum title-h4">Итого: <span>5 500 &#8381;</span></p>
            <button class="js-pay-popup btn _big">Купить</button>
        </div>
    </section>
    {% include '../modules/pay.twig' %}
{% endblock %}