{% extends '../base.twig' %}
{% import '../macros/eventcard.twig' as card %}
{% import '../macros/event-search.twig' as eventSearch %}
{% set offset = true %}

{% block title %}Главная{% endblock %}

{% block content %}
    <section class="poster-main">
        <div class="container">
            <div class="row">
                <div class="poster-main__info col-lg-8 col-xl-9 col-xxl-9">
                    <p class="poster-main__author title-h3">Петр Чайковский</p>
                    <p class="poster-main__name  title">Ромео и Джульета</p>
                    <p class="poster-main__info  title-h4">Историческая сцена</p>
                    <a class="btn" href="#">Купить билеты</a>
                </div>
                <div class="myCalendar col-lg-4 col-xl-3 col-xxl-3  _dark" id="myCalendar"></div>
            </div>
        </div>
    </section>
    {{eventSearch.classList("_offset") }}
    <section class="events">
        <div class="switch events__switch js-sticky-switch">
            <p class="switch__text">Вид:</p>
            <svg class="icon-svg switch__icon  _grid _active">
                <use xlink:href="#squares"></use>
            </svg>
            <svg class="icon-svg switch__icon  __list">
                <use xlink:href="#list"></use>
            </svg>
        </div>
        <div class="container">
            <section class="events__section">
                <h2 class="events__title title-h2">Ближайшие события</h2>
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица спала вечным сном',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Сентября',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                <button class="events__loadmore  title-h5  link-accent">
                    <svg class="icon-svg">
                        <use xlink:href="#reload"></use>
                    </svg>
                    Загрузить еще
                </button>
            </section>
            <section class="events__section">
                <h2 class="events__title title-h2">Балет</h2>
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                <button class="events__loadmore  title-h5  link-accent">
                    <svg class="icon-svg">
                        <use xlink:href="#reload"></use>
                    </svg>
                    Загрузить еще
                </button>
            </section>
            <section class="events__section">
                <h2 class="events__title title-h2">Опера</h2>
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                <button class="events__loadmore  title-h5  link-accent">
                    <svg class="icon-svg">
                        <use xlink:href="#reload"></use>
                    </svg>
                    Загрузить еще
                </button>
            </section>
        </div>
    </section>
    <section class="about-main">
        <div class="container">
            <h2 class="about-main__title  title-h2">О театре</h2>
            <div class="about-main__text-block">
                <p>
                    Вот уже 185 лет принимает зрителей один из&nbsp;самых легендарных театров Санкт-Петербурга &mdash;
                    Михайловский
                    театр, который входит в&nbsp;число старейших и&nbsp;наиболее прославленных учреждений культуры
                    России. На
                    сцене театра восторженные зрители имеют возможность видеть шедевры оперы и&nbsp;балета русских и
                    зарубежных композиторов. Популярность театра настолько велика, что купить билеты в&nbsp;Михайловский
                    театр зачастую не&nbsp;удается легко и&nbsp;просто. Но&nbsp;у&nbsp;жителей и&nbsp;гостей северной
                    столицы есть возможность
                    всегда попасть на&nbsp;легендарные постановки: для этого работает наша интернет-касса.
                </p>
                <p><strong>Почему нужно посетить Мариинский театр</strong></p>
                <p>
                    На&nbsp;протяжении столетий Мариинский театр был культурным центром Санкт-Петербурга и&nbsp;всей
                    России. Эта
                    сцена собирала и&nbsp;собирает лучшие представления самых разных жанров.
                </p>
                <p>
                    В&nbsp;театре проходят как классические, так и&nbsp;современные спектакли. Многие туристы (в&nbsp;том
                    числе
                    иностранные), как и&nbsp;жители Санкт-Петербурга, хотят попасть на&nbsp;самые лучшие и&nbsp;популярные
                    представления.
                    <br><br>
                    Билеты на&nbsp;представления лучше покупать заранее. Купить билет в&nbsp;Мариинский театр
                    Санкт-Петербурга
                    можно забронировать на&nbsp;нашем сайте.
                </p>
                <p><strong>Купить билеты в&nbsp;Мариинский театр</strong></p>
                <p>
                    Приобрести билеты на&nbsp;лучшие места мероприятий Мариинского театра можно на&nbsp;нашем сайте. С&nbsp;нами
                    вы
                    получите ряд преимуществ:
                    При покупке билетов на&nbsp;сайте вам не&nbsp;нужно стоять.
                </p>
            </div>
        </div>
    </section>
{% endblock %}