{% extends '../base.twig' %}
{% import '../macros/eventcard.twig' as card %}
{% set headerMenuBg = true %}

{% block title %}Платформы{% endblock %}

{% block content %}
    <section class="events">
        <div class="container">
            <section class="events__section">
                <h2 class="events__title title-h2">Площадки</h2>
                {{ card.eventcard({
                    link: '/img/index/example-1.jpg',
                    name: 'Историческая сцена',
                    room: 'ул. Писарева, 20'
                }) }}
                {{ card.eventcard({
                    link: '/img/index/example-1.jpg',
                    name: 'Новая сцена',
                    room: 'Театральная пл., 1'
                }) }}
                {{ card.eventcard({
                    link: '/img/index/example-1.jpg',
                    name: 'Камерная сцена',
                    room: 'ул. Декабристов, 34'
                }) }}
                {{ card.eventcard({
                    link: '/img/index/example-1.jpg',
                    name: 'Бетховенский зал',
                    room: 'ул. Писарева, 20'
                }) }}
            </section>
        </div>
    </section>
{% endblock %}