{% extends '../base.twig' %}
{% import '../macros/eventcard.twig' as card %}
{% set nofull = false %}
{% set headerMenuBg = true %}
{% set breadcrumbsType = true %}
{% set breadcrumbsUsual = true %}
{% set breadcrumbs = [
    {
        title: 'Афиша',
        link: '#'
    },
    {
        title: 'Спящая красавица',
        active: true
    }
] %}

{% block title %}Платформы{% endblock %}

{% block content %}
    <section class="platform-about">
        <div class="container">
            <div class="row">
                <div class="platform-about__wrapper col-lg-3">
                    <img class="platform-about__img" src="/img/slider/1.jpg">
                </div>
                <div class="platform-about__inner col-lg-9">
                    {% include '../modules/breadcrumbs.twig' %}
                    <p class="platform-about__name title">Спящая красавица</p>
                    <div class="platform-about__place">
                        <svg class="icon-svg _pin">
                            <use xlink:href="#pin"/>
                        </svg>
                        <p class="platform-about__room title-h5">Историческая сцена (Площадь искусств, 1)</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contacts-address-block">
        <div class="map" id="map"></div>
    </section>
    <section class="events">
        <div class="switch events__switch js-sticky-switch">
            <p class="switch__text">Вид:</p>
            <svg class="icon-svg switch__icon  _grid _active">
                <use xlink:href="#squares"></use>
            </svg>
            <svg class="icon-svg switch__icon  __list">
                <use xlink:href="#list"></use>
            </svg>
        </div>
        <div class="container">
            <section class="events__section">
                <h2 class="events__title title-h2">Ближайшие события</h2>
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица спала вечным сном',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Сентября',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                <button class="events__loadmore  title-h5  link-accent">
                    <svg class="icon-svg">
                        <use xlink:href="#reload"></use>
                    </svg>
                    Загрузить еще
                </button>
            </section>
            <section class="events__section">
                <h2 class="events__title title-h2">Наши рекомендации</h2>
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица спала вечным сном',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Сентября',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
                {{ card.eventcard({
                    type: 'full',
                    link: '/img/index/example-1.jpg',
                    name: 'Cпящая красавица',
                    day: '27',
                    month: 'Мая',
                    weekday: 'Пн',
                    time: '20:00',
                    room: 'Историческая сцена'
                }) }}
            </section>
        </div>
    </section>
    <section class="about-event">
        <div class="container  about-event__text">
            <p>
                Основное (и первое) здание Мариинского театра ведет свою историю с 1859 года, когда по проекту, который
                создал Альберто Кавоса, оно было возведено для труппы Императорских театров. Позднее, в конце 19 века,
                здание дважды перестраивалось, а на волне революции 1917 года было переименовано и вернуло свое
                первоначальное название лишь зимой 1992 года.
            </p>
            <p>
                Репертуар Мариинского театра богат постановками на классические и современные произведения. Сцена
                Мариинского театра, которая располагается в здании на Театральной площади, д.1, главным образом знакомит
                зрителей с классическими произведениями оперы и балета, такими как: «Макбет», «Дон Кихот», «Фауст»,
                «Лебединое озеро», «Ромео и Джульетта», а также многими другими.
            </p>
            <p>
                Афиша Мариинского театра столь богата, что удовлетворит вкусы даже самых искушенных зрителей. Купить
                билеты в Мариинский театр на те постановки, которые предлагает основная сцена, можно на сайте
                mariinskiytheater.ru. Вы можете купить билеты на лучшие места в любое удобное для вас время.
            </p>
        </div>
    </section>

    <script>
        ymaps.ready(function () {
            var myMap = new ymaps.Map('map', {
                    center: [59.925728, 30.296240],
                    zoom: 12,
                    controls: ['zoomControl']
                }, {
                    searchControlProvider: 'yandex#search'
                }),


                // Создаём макет содержимого.
                MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
                    '<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
                ),


                myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
                    hintContent: 'Театральная площадь, 1',
                    balloonContent: 'Театральная площадь, 1'
                }, {
                    // Опции.
                    // Необходимо указать данный тип макета.
                    iconLayout: 'default#image',
                    // Своё изображение иконки метки.
                    iconImageHref: '/img/icons-svg/marker.svg',
                    // Размеры метки.
                    iconImageSize: [30, 42],
                    // Смещение левого верхнего угла иконки относительно
                    // её "ножки" (точки привязки).
                    iconImageOffset: [-5, -5]
                });

            myMap.behaviors.disable('scrollZoom');

            myMap.geoObjects
                .add(myPlacemark);
        });
    </script>
{% endblock %}