{% extends '../base.twig' %}
{% import '../modules/breadcrumbs.twig' as breadcrumbs %}
{% set breadcrumbsType = true %}
{% set breadcrumbsUsual = true %}
{% set headerMenuBg = true %}
{% set breadcrumbs = [
    {
        title: 'Главная',
        link: '/'
    },
    {
        title: 'Текстовый шаблон',
        active: true
    }
] %}

{% block title %}Текстовый шаблон{% endblock %}

{% block content %}
    <section class="section-text section">
        <div class="container">
            {% include '../modules/breadcrumbs.twig' %}
            <h1 class="title">H1 Текстовый шаблон</h1>
            <h2 class="title-h2">H2 Подзаголовок</h2>
            <img src="/img/text-img.jpg" alt="">
            <p>
                Вот уже 185 лет принимает зрителей один из самых легендарных театров Санкт-Петербурга – Михайловский
                театр, который входит в число старейших и наиболее прославленных учреждений культуры России. На сцене
                театра восторженные зрители имеют возможность видеть шедевры оперы и балета русских и зарубежных
                композиторов. Популярность театра настолько велика, что купить билеты в Михайловский театр зачастую не
                удается легко и просто. Но у жителей и гостей северной столицы есть возможность всегда попасть на
                легендарные постановки: для этого работает наша интернет-касса.
            </p>
            <p><strong>Почему нужно посетить Мариинский театр</strong></p>
            <p>
                На протяжении столетий Мариинский театр был культурным центром Санкт-Петербурга и всей России. Эта сцена
                собирала и собирает лучшие представления самых разных жанров. Популярность театра настолько велика, что
                купить билеты в Михайловский театр зачастую не удается легко и просто. Но у жителей и гостей северной
                столицы есть возможность всегда попасть на легендарные постановки: для этого работает наша
                интернет-касса.
            </p>
            <br><br>
            <h3 class="title-h3">H3 Заголовок третьего уровня</h3>
            <img src="/img/text-img.jpg" style="float: right">
            <p>
                Вот уже 185 лет принимает зрителей один из самых легендарных театров Санкт-Петербурга – Михайловский
                театр, который входит в число старейших и наиболее прославленных учреждений культуры России. На сцене
                театра восторженные зрители имеют возможность видеть шедевры оперы и балета русских и зарубежных
                композиторов. Популярность театра настолько велика, что купить билеты в Михайловский театр зачастую не
                удается легко и просто. Но у жителей и гостей северной столицы есть возможность всегда попасть на
                легендарные постановки: для этого работает наша интернет-касса.
            </p>
            <p><strong>Почему нужно посетить Мариинский театр</strong></p>
            <p>
                На протяжении столетий Мариинский театр был культурным центром Санкт-Петербурга и всей России. Эта сцена
                собирала и собирает лучшие представления самых разных жанров. Популярность театра настолько велика, что
                купить билеты в Михайловский театр зачастую не удается легко и просто. Но у жителей и гостей северной
                столицы есть возможность всегда попасть на легендарные постановки: для этого работает наша
                интернет-касса.
            </p>
            <h4 class="title-h4">H4 Подзаголовок четвертого уровня</h4>
            <ul>
                <li>Онлайн-афиша на несколько месяцев вперед</li>
                <li>Возможность забронировать билеты, не выходя из дома</li>
                <li>Быстрая безналичная оплата</li>
                <li>Легкая регистрация</li>
                <li>Билеты на лучшие мероприятия</li>
            </ul>
        </div>
    </section>
{% endblock %}