<ul class="breadcrumbs title-h2 {% if (breadcrumbsType) %} _small {% endif %}  {% if (breadcrumbsUsual) %} _usual {% endif %}">
    {% for item in breadcrumbs%}
        {% if (item.active) %}
            <li class="breadcrumbs__item">
                <span class="breadcrumbs__link  _active">{{ item.title }}</span>
            </li>
        {% else %}
            <li class="breadcrumbs__item">
                <a href="{{item.link}}" class="link-accent breadcrumbs__link">{{ item.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>