<div class="pagination">
    <div class="container">
        <ul class="pagination__list">
            <li class="pagination__item">
                <a class="pagination__link arrow _left _disabled" href="#"></a>
            </li>
            <li class="pagination__item _active">
                <a class="pagination__link" href="#">1</a>
            </li>
            <li class="pagination__item">
                <a class="pagination__link" href="#">2</a>
            </li>
            <li class="pagination__item">
                <a class="pagination__link" href="#">3</a>
            </li>
            <li class="pagination__item">
                <a class="pagination__link" href="#">...</a>
            </li>
            <li class="pagination__item">
                <a class="pagination__link" href="#">22</a>
            </li>
            <li class="pagination__item">
                <a class="pagination__link arrow _right" href="#"></a>
            </li>
        </ul>
    </div>
</div>