<section class="pay _popup hidden">
    <div class="pay__head">
        <button class="js-pay-close pay__back"></button>
        <p class="pay__head-text title-h5">Покупка билетов</p>
    </div>
    <form action="" class="pay__form">
        <label class="radio text">Оплата банковской картой
            <input type="radio" name="radio" checked>
            <span class="radio__checkmark"></span>
        </label>
        <div class="pay-tab">
            <button class="pay-tab__link js-link" onclick="openTab(event, 'online')" id="defaultOpen"
                    type="button">Электронный билет
            </button>
            <button class="pay-tab__link js-link" onclick="openTab(event, 'delivery')"
                    type="button">Доставка 300 &#8381
            </button>
        </div>
        <div id="online" class="pay-tab__tab-content js-tab">
            <div class="pay__notice-inner">
                <p class="pay__text-notice small">
                    Билеты будут отправлены на ваш Email сразу, после подтверждения оплаты.
                </p>
            </div>
            <input class="pay__input" type="text" placeholder="Ваше имя" name="name" required
            >
            <input class="pay__input phone-mask" type="tel" name="tel" placeholder="" required
            >
            <input class="pay__input" type="email" name="email" placeholder="Email" required
            >
        </div>
        <div id="delivery" class="pay-tab__tab-content js-tab">
            <div class="pay__notice-inner">
                <svg class="icon-svg">
                    <use xlink:href="#danger"/>
                </svg>
                <p class="pay__text-notice small">
                    Доставка осуществляется <span>в черте Москвы</span>.
                </p>
            </div>
            <input class="pay__input" type="text" placeholder="Ваше имя" name="name" required
            >
            <input class="pay__input phone-mask" type="tel" name="tel" placeholder="Ваш телефон" required
            >
            <input class="pay__input" type="email" name="email" placeholder="Email" required
            >
            <input class="pay__input" type="text" name="email" placeholder="Адрес доставки" required
            >
            <button class="pay__add-coment small link-second js-add-coment" type="button">Добавить комментарий</button>
            <textarea class="js-textarea" name="coment" id="coment" placeholder="Оставить комментарий" hidden></textarea>
        </div>
        <label class="checkbox  text"> Я согласен с <a class="link-second" href="#">договором оферты</a>
            <input type="checkbox">
            <span class="checkbox__checkmark"></span>
        </label>
        <p class="pay__text-sum title-h4">К оплате: <span>5 500 &#8381</span></p>
        <button class="btn _big">Перейти к оплате</button>
    </form>
</section>