<section class="js-popup-search popup-search hidden-visible">
    <button class="popup-search__close js-close" type="button"></button>
    <p class="popup-search__title title">Поиск</p>
    <div class="popup-search__inner">
        <input class="popup-search__search-input" type="text" placeholder="Найти по названию">
        <svg class="icon-svg">
            <use xlink:href="#search"></use>
        </svg>
    </div>
    <div class="myCalendar  _light" id="myCalendarPopup"></div>
</section>