<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="../libs/select2.min.js"></script>
<script src="../libs/jquery.mask.min.js"></script>
<script src="../libs/slick.min.js"></script>
<script src="../libs/slick-lightbox.min.js"></script>
<script src="../libs/moment-with-locales.js"></script>
<script src="../libs/ion.calendar.js"></script>
<script src="../libs/jquery.sticky.js"></script>
<script src="../js/main.js"></script>