<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.min.css">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=082abde7-2839-4a12-bf15-85d8139741f7&lang=ru_RU"
            type="text/javascript">
    </script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="body">
<div class="content">
    {% include 'layouts/header.twig' %}

    <main class="main {% if (offset) %} _offset {% endif %}">
        {% block content %}{% endblock %}
    </main>
</div>
{% include 'layouts/footer.twig' %}
<div class="hidden">{% include "../img/sprite-inline.svg" %}</div>
{% include "modules/scripts.twig" %}
{% include "modules/popup-search.twig" %}
</body>