@font-face {
    font-family: "Gotham Pro";
    src:
            url("../fonts/GothamPro.ttf") format('truetype'),
            url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
            url('../fonts/GothamPro.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro";
    src:
            url("../fonts/GothamPro-Bold.ttf") format('truetype'),
            url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
            url('../fonts/GothamPro-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro";
    src:
            url("../fonts/GothamPro-Light.ttf") format('truetype'),
            url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
            url('../fonts/GothamPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}