html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Gotham Pro, Arial, sans-serif;
}

.content {
    flex: 1 0 auto;
}

.hidden {
    display: none;
}

.hidden-visible {
    opacity: 0;
    visibility: hidden;
}

main {
    &._offset {
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            position: relative;
            margin-top: -40px;
        }
    }
}

input, .select2-container--default .select2-selection--single, textarea {
    display: inline-block;
    width: 100%;
    height: 55px;
    padding: 15px;
    border: 1px solid var(--primary-medium-light);
    border-radius: 3px;

    font-family: Gotham Pro, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;

    color: var(--primary-dark);
    transition: all 0.4s ease;

    &::placeholder {
        font-family: Gotham Pro, Arial, sans-serif;
        font-size: 18px;
        line-height: 1.56;
        color: var(--primary-dark-light);
    }
    &:hover {
        border-color: var(--primary-accent-light);
    }

    &:focus {
        outline: none;
        border-color: var(--primary-accent);
    }

    &:focus::placeholder {
        color: var(--primary-medium-light);
    }

    & + .icon-svg {
        position: absolute;
        top: 13px;
        right: 30px;
        width: 30px;
        height: 30px;
        fill: var(--primary-medium);
        transition: fill 0.4s ease;
    }

    &:hover + .icon-svg {
        fill: var(--primary-accent-light);
    }
}

select{
    width: 100%;
    height: 55px;
    padding: 15px;
    border: 1px solid var(--primary-light-light);
    border-radius: 5px;

    font-family: Gotham Pro, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    color: var(--primary-dark-light);
    &::placeholder {
        font-family: Gotham Pro, Arial, sans-serif;
    }

    &:focus{
        outline:none;
    }
}

p {
    font-family: Gotham Pro, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.67;
    color: var(--primary-dark);
}

.section {
    padding: 20px 0;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        padding: 30px 0 50px;
    }

    & .title {
        width: 100%;
        margin-bottom: 40px;
    }
}