//Стрелки
@mixin arrow {
  position: relative;
  width: 13px;
  height: 13px;
  border-left: 2px solid var(--primary-medium);
  border-top: 2px solid var(--primary-medium);
  border-right: none;
  border-bottom: none;
  border-right-color: transparent;
  transition: all 0.4s ease;

  &:hover {
    border-left: 2px solid var(--primary-accent);
    border-top: 2px solid var(--primary-accent);
  }

  &:active {
    border-left: 2px solid var(--primary-accent-light);
    border-top: 2px solid var(--primary-accent-light);
  }
}

.arrow._left {
  transform: rotate(-45deg) translateZ(0);
}

.arrow._right {
  transform: rotate(135deg) translateZ(0);
}


//Крестик
@mixin close {
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  &::before, &::after {
    content: "";
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 2px;
    transition: all .3s ease;
    border-radius: 1px;
    background-color: var(--primary-dark-lighest);
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    cursor: pointer;
  }

  &:hover::before, &:hover::after {
    background-color: var(--primary-accent);
  }
}