$icons: (
        sprite: (width: 93px, height: 93px, svgPath: '../img/sprite/sprite.svg'),
        cart: (width: 21px, height: 21px, backgroundX: 0px, backgroundY: 0px),
        pin: (width: 21px, height: 21px, backgroundX: -31px, backgroundY: -31px),
        search: (width: 21px, height: 21px, backgroundX: -62px, backgroundY: -62px),
);