@import '../librares/bootstrap/variables';

//Цвета
:root {
    --primary-accent: rgb(13, 102, 249);
    --primary-accent-light: rgba(13, 102, 249, 0.5);
    --primary-accent-lighest: rgba(13, 102, 249, 0.25);

    --primary-dark: rgb(11, 11, 11);
    --primary-dark-special: rgba(11, 11, 11, 0.9);
    --primary-dark-light: rgba(11, 11, 11, 0.5);
    --primary-dark-lighest: rgba(11, 11, 11, 0.25);

    --primary-medium: rgb(184, 184, 184);
    --primary-medium-light: rgba(184, 184, 184, 0.5);
    --primary-medium-lighest: rgba(184, 184, 184, 0.2);

    --primary-light: rgb(236, 236, 236);
    --primary-light-light: rgba(236, 236, 236, 0.5);
    --primary-light-lighest: rgba(236, 236, 236, 0.25);

    --primary-red: rgb(255, 22, 62);
    --primary-red-light: rgba(255, 22, 62, 0.5);
    --primary-red-lighest: rgba(255, 22, 62, 0.25);

    --primary-green: rgb(41, 221, 166);
    --primary-green-light: rgba(41, 221, 166, 0.5);
    --primary-green-lighest: rgba(41, 221, 166, 0.25);

    --primary-white: rgb(255, 255, 255);
    --primary-white-light: rgba(255, 255, 255, 0.5);
    --primary-white-lightest: rgba(255, 255, 255, 0.2);

    --secondary-orange: rgb(251, 82, 17);
    --secondary-orange-light: rgba(251, 82, 17, 0.5);
    --secondary-orange-lighest: rgba(251, 82, 17, 0.25);

    --secondary-sky: rgb(17, 236, 251);
    --secondary-sky-light: rgba(17, 236, 251, 0.5);
    --secondary-sky-lighest: rgba(17, 236, 251, 0.25);

    --secondary-purple: rgb(109, 19, 254);
    --secondary-purple-light: rgba(109, 19, 254, 0.5);
    --secondary-purple-lighest: rgba(109, 19, 254, 0.25);
}


//Типографика
.title, .title-h2, .title-h3, .title-h4, .title-h5, .title-h6, .text, .lgall {
    font-family: Gotham Pro, Arial, sans-serif;
    font-weight: 600;
    color: var(--primary-dark);
}

.title, h1 {
    font-size: 40px;
    line-height: 1;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        font-size: 65px;
    }
}

.title-h2, h2 {
    font-size: 26px;
    line-height: 1.25;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        font-size: 40px;
    }
}

.title-h3, h3 {
    font-size: 26px;
    line-height: 1.3;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        font-size: 33px;
    }
}

.title-h4, h4 {
    font-size: 16px;
    line-height: 1.38;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        font-size: 26px;
    }
}

.title-h5, h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.56;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        font-size: 18px;
    }
}

.title-h6, h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.56;
}

.text, p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.67;
}

.small {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.46;
}