.section-text {
    & .title-h2 {
        margin-bottom: 30px;
    }

    & img {
        display: block;
        margin-bottom: 15px;
        object-fit: cover;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            float: left;
            max-width: 45%;
            margin-right: 30px;
        }
    }

    & p {
        margin-bottom: 15px;
    }

    & .title-h3,  .title-h4{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    li {
        margin-top: 5px;
        list-style-type: disc;
    }
}