.cart-page {
    & .container {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    & .pay {
        padding: 30px 0 0;
        margin-bottom: 20px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            padding: 30px;
        }
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            box-shadow: 0 0 15px 0 rgba(40, 40, 40, 0.15);
        }
    }

    & .pay__form {
        padding: 0;
    }

    & .pay__back {
        display: none;
    }

    & .pay__head {
        justify-content: flex-start;
        padding: 0;
        margin-bottom: 20px;
        background-color: transparent;
    }

    &__sum-inner {
        display: block;
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            display: grid;
            grid-column-gap: 30px;
            grid-template-columns: 8fr 2fr;
        }
    }

    &__sum-text {
        grid-column-start: 2;
        grid-row-start: 1;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        & span {
            font-weight: 700;
        }
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            text-align: right;
        }
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            margin-bottom: 0;
            text-align: left;
        }
    }

    &__notice {
        position: relative;
        grid-column-start: 1;
        grid-row-start: 2;

        & .icon-svg {
            position: absolute;
            top: 3px;
            width: 18px;
            height: 15px;
            margin-right: 10px;
            fill: var(--primary-green);
        }
    }

    &__notice-text {
        padding-left: 30px;
        color: var(--primary-dark-light);
    }

    &__protect-inner {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            padding: 0 30px;
        }

        & img {
            display: inline-block;
            width: 70px;
            height: 25px;
            margin-right: 20px;
        }

        & p {
            font-size: 13px;
            color: var(--primary-medium);
        }
    }
}