.contacts {
    &__title {
        margin-bottom: 20px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            margin-bottom: 40px;
        }
    }

    &__item {
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 18px;
        &:last-of-type {
            margin-bottom: 30px;
        }
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            font-size: 33px;
        }

        & a {
            font-weight: 700;
        }

        & a span {
            color: var(--primary-medium)
        }
    }

    &__text {
        margin-bottom: 30px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}