.platform-about {
    position: relative;
    padding: 40px 0 25px;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        padding: 80px 0 30px;
    }

    & .row {
        display: flex;
        flex-flow: column nowrap;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            flex-flow: row nowrap;
        }
    }

    &__wrapper {
        order: 2;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            order: 0;
        }
    }

    &__inner {

    }

    &__img {
        width: 70px;
        height: 50px;
        border-radius: 5px;
        object-fit: cover;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            width: 260px;
            height: 160px;
        }
    }

    &__name {
        margin-bottom: 15px;
        color: var(--primary-dark);
    }

    &__place {
        position: relative;
        margin-bottom: 20px;
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            display: flex;
            flex-flow: row nowrap;
            margin-bottom: 15px;
        }

        & .icon-svg._pin {
            position: absolute;
            top: 4px;
            left: 0;
            display: block;
            width: 20px;
            height: 21px;
            fill: var(--primary-medium);
        }
    }

    &__room {
        padding-left: 30px;
        color: var(--primary-medium);
    }
}