.about-event {
    margin: 0 auto;
    padding-bottom: 20px;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        width: 55%;
        padding-bottom: 50px;
    }
    &__text {
        & p {
            margin-bottom: 20px;
            text-align: center;
        }

        & strong {
            text-align: center;
            text-transform: uppercase;
        }
    }

    &__promo {
        & p {
            margin-bottom: 20px;
            font-weight: 300;
            text-align: center;
        }
    }
}