.breadcrumbs {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    margin-bottom: 20px;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        margin-bottom: 50px;
    }

    &__item:not(:last-of-type) {
        position: relative;
        padding-right: 25px;
        margin-right: 10px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            padding-right: 40px;
            margin-right: 20px;
        }
        &:last-of-type {
            padding-right: 0;
            margin-right: 0;
        }
        &::before {
            content: "/";
            position: absolute;
            top: 0;
            right: 0;
            color: var(--primary-light);
        }
    }

    &__link {
        font-weight: inherit;
        font-size: 26px;
        color: inherit;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            font-size: 33px;
        }
    }

    &__link._active {
        cursor: default;
    }
}


//Стандартные хлебные крошки
._small {
    margin-bottom: 15px;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        margin-bottom: 15px;
    }
}

._small .breadcrumbs {
    &__item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        font-size: 13px;
        font-weight: 300;
        color: var(--primary-white);
    }

    &__item:not(:last-of-type) {
        position: relative;
        padding-right: 15px;
        margin-right: 15px;
        &:last-of-type {
            padding-right: 0;
            margin-right: 0;
        }
        &::before {
            @include arrow;
            content: "";
            position: absolute;
            top: 4px;
            right: 0;
            width: 8px;
            height: 8px;
            transform: rotate(135deg) translateZ(0);
        }
    }

    &__link {
        font-size: inherit;
    }

    &__link._active {
        color: var(--primary-medium);
        cursor: default;
    }
}


//Хлебные крошки на белом фоне
._usual .breadcrumbs {
    margin-bottom: 10px;
    &__link {
        color: var(--primary-dark);
    }
}