.btn {
    display: inline-block;
    padding: 10px 23px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.67;
    text-align: center;
    color: var(--primary-white);
    background-color: var(--primary-accent);
    cursor: pointer;
    transition: all 0.4s ease;
    &:hover {
        opacity: 0.7;
    }
    &:active {
        opacity: 0.5;
    }

    &._nobg {
        padding: 11px 23px;
        border: 1px solid var(--primary-accent);
        background-color: transparent;
        color: var(--primary-accent);
    }

    &._big {
        padding: 15px 23px;
        font-size: 18px;
    }
}