.cart {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    font-weight: 700;
    transition: all 0.4s ease;
    &:hover {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.25;
    }

    & .icon-svg {
        width: 25px;
        height: 25px;
        margin-right: 21px;
        margin-top: 5px;
        fill: var(--primary-dark);
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            width: 33px;
            height: 33px;
        }
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            width: 25px;
            height: 25px;
        }
    }
    
    &__inner {
        position: relative;

    }

    &__counter {
        position: absolute;
        top: -4px;
        right: 10px;
        z-index: 2;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 22px;
        height: 22px;
        padding: 5px;
        border-radius: 50%;
        line-height: 1;
        color: #ffffff;
        background-color: var(--primary-accent);
        &._noempty {
            background-color: var(--primary-green);
        }
    }

    & p {
        display: none;
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            display: block;
            font-weight: 700;
            line-height: 2;
            color: var(--primary-accent);
        }
    }
}