/* Customize the label (the container) */
.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    user-select: none;
    transition: all 0.4s ease;

    & input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        transition: all 0.4s ease;
    }

    &:hover input[type="checkbox"] ~ .checkbox__checkmark {
        border: 1px solid var(--primary-accent);
    }

    & input[type="checkbox"]:checked ~ .checkbox__checkmark {
        background-color: var(--primary-accent);
    }

    & input[type="checkbox"]:checked ~ .checkbox__checkmark:after {
        display: block;
    }

    &__checkmark {
        position: absolute;
        top: 2px;
        left: 0;
        height: 18px;
        width: 18px;
        border: 1px solid var(--primary-medium);
        border-radius: 3px;

        &::after {
            content: "";
            position: absolute;
            left: 5px;
            top: 2px;
            display: none;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
}