.contacts-address-block {
    padding: 20px 0;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        padding: 50px 0 30px;
    }

    &__title {
        margin-bottom: 20px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            margin-bottom: 30px;
        }
    }

    &__text {
        margin-bottom: 20px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            margin-bottom: 30px;
        }
    }

    & .map {
        width: 100%;
        height: 250px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            height: 400px;
        }
    }
}