.event-search {
    position: relative;
    z-index: 15;

    &._offset {
        padding-top: 20px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            padding-top: 0;
            margin-top: -82px;
        }
    }

    &._bg {
        padding: 30px 0;
        background-color: var(--primary-light);
    }

    &__form {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        padding: 30px;
        border-radius: 5px;
        background-color: var(--primary-white);
        box-shadow: 0 0 15px 0 rgba(40, 40, 40, 0.15);
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__title {
        width: 100%;
        margin-bottom: 15px;
    }

    &__icon-inner {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            width: calc(25% - 30px);
            margin-right: 30px;
            margin-bottom: 0;
        }
    }

    & .btn {
        width: 100%;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            width: 25%;
        }
    }

    & ._calendar {
        width: 100%;
    }

    & .icon-svg._icon-calendar {
        right: 15px;
    }
}