.events {
    position: relative;
    padding-bottom: 20px;
    padding-top: 30px;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        padding-top: 60px;
        padding-bottom: 50px;
    }
    &__section {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 20px;
        padding-top: 30px;
        border-bottom: 2px solid var(--primary-light-light);
        &:last-of-type {
            padding-bottom: 0;
            border-bottom: none;
        }
        &:first-of-type {
            padding-top: 0;
        }

        @include media-breakpoint-up(lg, $grid-breakpoints) {
            padding-top: 60px;
            padding-bottom: 50px;
        }
    }

    &__switch {
        position: absolute;
        top: 0;
        right: 0;
    }

    &_sticky {
        width: 135px;
    }

    &__title {
        width: 100%;
        margin-bottom: 20px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            margin-bottom: 50px;
            text-align: center;
        }
    }

    &__loadmore {
        margin: 20px auto 0;
        color: var(--primary-dark-light);

        & .icon-svg {
            position: relative;
            top: 6px;
            width: 25px;
            height: 27px;
            margin-right: 15px;
            opacity: 0.5;
            fill: var(--primary-medium);
        }
    }
}