.event-card {
    display: grid;
    grid-template-columns: 3fr 8fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-column-gap: 15px;
    grid-template-areas: "img date" "img date" "img name" "img place";

    width: 100%;
    padding: 15px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(40, 40, 40, 0.15);

    &:last-of-type {
        margin-bottom: 0;
    }

    @include media-breakpoint-up(lg, $grid-breakpoints) {
        display: block;
        width: calc(25% - 30px);
        height: 440px;
        margin-right: 30px;
        margin-bottom: 30px;
        padding: 0 0 30px;
        &:nth-of-type(4n) {
            margin-right: 0;
        }
    }

    &__inner {
        position: relative;
        grid-area: place;
        grid-column-start: 2;
        grid-row-start: 3;
        color: var(--primary-dark-lightest);
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            display: flex;
            flex-flow: row nowrap;
            margin-bottom: 15px;
        }

        & .icon-svg._pin {
            display: none;
            @include media-breakpoint-up(lg, $grid-breakpoints) {
                position: absolute;
                top: 5px;
                left: 25px;
                display: block;
                width: 18px;
                height: 18px;
                opacity: 0.5;
                fill: var(--primary-dark-lightest);
            }
            @include media-breakpoint-up(xl, $grid-breakpoints) {
                top: 50%;
                margin-top: -7px;
            }
        }
    }

    &__img {
        grid-area: img;
        grid-column-start: 1;
        grid-row-start: 1;
        border-radius: 5px 5px 0 0;
        object-fit: cover;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            width: 100%;
            height: auto;
            margin-bottom: 30px;
        }
    }

    &__name {
        grid-area: name;
        grid-column-start: 1;
        grid-row-start: 2;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            height: 50px;
            margin-bottom: 15px;
            margin-left: 30px;
            padding-right: 30px;
            white-space: normal;
        }
    }

    &__date {
        grid-area: date;
        grid-column-start: 1;
        grid-row-start: 1;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase;
        color: var(--primary-medium);
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            padding-right: 30px;
            margin-bottom: 10px;
            margin-left: 30px;
            font-size: 18px;
            color: var(--primary-dark);
        }

        & .day-time {
            text-transform: none;
            color: var(--primary-medium);
        }
    }

    &__room {
        font-size: 13px;
        color: var(--primary-dark-light);
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            position: relative;
            margin-left: 30px;
            padding-left: 20px;
            padding-right: 30px;
            font-size: 15px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    &__link {
        grid-area: link;
        grid-column-start: 1;
        display: none;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            display: inline-block;
            margin-left: 30px;
        }
    }
}


// События списком
._events-list {
    & .event-card {
        display: grid;
        grid-template-columns: 2fr 2fr 5fr 3fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "date img name link" "date img place link";
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        margin-right: 0;
        padding-right: 30px;
        padding-bottom: 0;

        &__date {
            grid-area: date;
            grid-column-start: 1;
            grid-row-start: 1;
            justify-self: center;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            margin-bottom: 0;

            & .day {
                font-size: 40px;
                line-height: 1.25;
            }

            & .month {
                font-size: 13px;
            }

            & .day-time {
                font-size: 13px;
                font-weight: 700;
                color: var(--primary-medium);
            }
        }

        &__img {
            grid-area: img;
            grid-column-start: 2;
            grid-row-start: span 2;
            max-height: 100px;
            margin-bottom: 0;
            border-radius: 0;
        }

        &__name {
            grid-area: name;
            grid-column-start: 3;
            grid-row-start: 1;
            align-self: flex-end;
            height: auto;
            margin-bottom: 0;
            font-size: 26px;
            font-weight: 500;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &__inner {
            grid-area: place;
            grid-column-start: 3;
            grid-row-start: 2;
            align-self: flex-start;
            margin-bottom: 0;

            & .icon-svg._pin {
                margin-top: -9px;
            }
        }

        &__link {
            grid-area: link;
            grid-column-start: 4;
            grid-row-start: 1;
        }
    }
}

//Платформы
._platform.event-card {
    height: 345px;
}

//Корзина
._cart.event-card {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 65px 68% 1fr;
    grid-template-areas: "img date close" "img name close"  "img place close" "img cost close";
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 15px 25px;
    background-color: var(--primary-light-light);
    border: solid 1px var(--primary-medium-lighest);
    box-shadow: none;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        grid-column-gap: 10px;
        grid-template-columns: 80px 60% 80px 1fr;
        grid-template-areas: "img date cost close" "img name cost close"  "img place cost close";
    }
    @include media-breakpoint-up(xl, $grid-breakpoints) {
        grid-column-gap: 25px;
        grid-template-areas: "close date img name cost" "close date img place cost";
        grid-template-columns: 0.5fr 2fr 2fr 2fr 3fr;
        margin-bottom: 20px;
    }

    & .event-card__close {
        @include close;
        grid-area: close;
        grid-column-start: 4;
        grid-row-start: 1;
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            grid-column-start: 1;
            grid-row-start: 1;
        }
    }

    & .event-card__date {
        grid-column-start: 2;
        grid-row-start: 1;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0;
        margin-left: 0;
        padding-right: 0;
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            grid-column-start: 2;
            grid-row-start: 1;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            justify-self: center;
            align-items: center;
        }

        & .day {
            margin-right: 5px;
            font-size: 13px;
            @include media-breakpoint-up(xl, $grid-breakpoints) {
                margin-right: 0;
                font-size: 40px;
                line-height: 1;
            }
        }

        & .month {
            margin-right: 5px;
            font-size: 13px;
            @include media-breakpoint-up(xl, $grid-breakpoints) {
                margin-right: 0;
            }
        }

        & .day-time {
            font-size: 13px;
            font-weight: 700;
            color: var(--primary-medium);
        }
    }

    & .event-card__img {
        grid-column-start: 1;
        grid-row-start: 1;
        width: 75px;
        height: 45px;
        margin-bottom: 0;
        border-radius: 5px;
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            width: 95px;
            height: 55px;
        }
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            grid-column-start: 3;
            grid-row-start: 1;
        }
    }

    & .event-card__name {
        grid-column-start: 2;
        grid-row-start: 2;
        height: auto;
        margin-left: 0;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        font-weight: 600;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            grid-column-start: 4;
            grid-row-start: 1;
        }
    }

    & .event-card__inner {
        grid-column-start: 2;
        grid-row-start: 3;
        display: block;
        margin-bottom: 0;
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            grid-column-start: 4;
            grid-row-start: 2;
        }
    }

    & .event-card__room {
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    & .event-card__place {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &  .event-card__cost {
        grid-area: cost;
        grid-column-start: 2;
        grid-row-start: 5;
        font-size: 18px;
        font-weight: 700;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            grid-column-start: 3;
            grid-row-start: 1;
        }
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            grid-column-start: 5;
            grid-row-start: 1;
        }
    }
}