.event-poster {
    position: relative;
    padding: 40px 0 25px;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        padding: 80px 0 30px;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../img/event-bg.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: blur(5px) grayscale(20%);
    }

    & .slider {
        display: none;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            display: block;
        }
    }

    &__info {
        margin-bottom: 5px;
        font-weight: 400;
        color: var(--primary-white);
    }

    &__name {
        margin-bottom: 15px;
        color: var(--primary-white);
    }

    &__date {
        margin-bottom: 15px;
        color: var(--primary-green);
    }

    &__place {
        position: relative;
        margin-bottom: 20px;
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            display: flex;
            flex-flow: row nowrap;
            margin-bottom: 15px;
        }

        & .icon-svg._pin {
            position: absolute;
            top: 4px;
            left: 0;
            display: block;
            width: 20px;
            height: 21px;
            fill: var(--primary-light-lighest);
        }
    }

    &__room {
        padding-left: 30px;
        color: var(--primary-light);
    }

    &__notice {
        font-weight: 300;
        color: var(--primary-white-light);
        & span {
            font-weight: 700;
        }
    }
}