//Общие стили календаря
.myCalendar {
    height: 345px;

    & .ic__week-head, & .ic__week-head td {
        background: var(--primary-white);
    }

}

.ic__header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.ic__header select {
    height: 35px;
}

.ic__month, .ic__year {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.ic__month select, .ic__year select {
    border: none;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align-last: center;
    text-align: center;
    text-transform: capitalize;
    appearance: none;
}

.ic__year select {
    font-weight: 400;
}

.ic__next, .ic__prev {
    top: 7px;
}

.ic__week-head td, .ic__days .ic__day {
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.56;
    text-transform: capitalize;
}

.ic__days .ic__day-empty {
    border: none;
}

.ic__container .ic__days {
    margin: 0;
}

//Темная тема
.myCalendar._dark {

    //Фон
    & .ic__container {
        background-color: var(--primary-dark);
        opacity: 0.8;
    }

    //Шапка
    & .ic__week-head, & .ic__week-head td {
        background: transparent;
    }

    //Месяц и год
    & .ic__month select {
        color: var(--primary-white);
        background-color: transparent;
    }

    & .ic__year select {
        color: var(--primary-medium);
        background-color: transparent;
    }

    //Стрелки
    .ic__prev div, .ic__next div {
        position: absolute;
        width: 13px;
        height: 13px;
        border-left: 2px solid var(--primary-white);
        border-top: 2px solid var(--primary-white);
        border-right: none;
        border-bottom: none;
        border-right-color: transparent;
        transition: all 0.4s ease;
    }

    .ic__prev:hover div, .ic__next:hover div {
        border-left: 2px solid var(--primary-accent);
        border-top: 2px solid var(--primary-accent);
    }

    .ic__prev:active div, .ic__next:active div {
        border-left: 2px solid var(--primary-accent-light);
        border-top: 2px solid var(--primary-accent-light);
    }

    .ic__prev div {
        left: 25px;
        transform: rotate(-45deg) translateZ(0);
    }

    .ic__next div {
        right: 25px;
        transform: rotate(135deg) translateZ(0);
    }

    //Дни
    & .ic__days .ic__day-empty {
        background: transparent;
    }

    & .ic__days .ic__day {
        border-radius: 5px;
        font-weight: 500;
        color: var(--primary-white);
        background: transparent;
        transition: all 0.4s ease;

        &:hover {
            background-color: var(--primary-accent-light);
        }

        &:active {
            background-color: var(--primary-accent-lightest);
        }
    }

    // Прошедшие дни
    & .ic__days .ic__day.ic__day_state_before {
        font-weight: 300;
        color: var(--primary-white-lightest);

        &:hover, &:active {
            background-color: transparent;
        }
    }

    & .ic__days .ic__day.ic__day_state_selected.ic__day_state_before {
        color: var(--primary-white-lightest);
        background-color: transparent;

        &:hover, &:active {
            background-color: transparent;
        }
    }

    //Выбранный день
    & .ic__days .ic__day.ic__day_state_selected {
        background-color: var(--primary-accent);

        &:hover, &:active {
            background-color: var(--primary-accent);
        }
    }

    //Сегодня
    & .ic__days .ic__day.ic__day_state_current {
        position: relative;
        background-color: var(--primary-medium-lighest);

        &:before {
            content: '';
            position: absolute;
            bottom: 3px;
            left: 50%;
            width: 5px;
            height: 5px;
            margin-left: -2.5px;
            border-radius: 50%;
            background-color: var(--primary-medium-light);
        }

        &:hover, &:active {
            background-color: var(--primary-medium-lighest);
            cursor: default;
        }
    }
}

//Светлая тема
.myCalendar._light {
    //Фон
    & .ic__container {
        background-color: var(--primary-white);
    }

    //Шапка
    & .ic__week-head, & .ic__week-head td {
        background: transparent;
    }

    //Месяц и год
    & .ic__month select {
        color: var(--primary-dark);
        background-color: transparent;
    }

    & .ic__year select {
        color: var(--primary-medium);
        background-color: transparent;
    }

    //Стрелки
    .ic__prev div, .ic__next div {
        position: absolute;
        width: 13px;
        height: 13px;
        border-left: 2px solid var(--primary-dark);
        border-top: 2px solid var(--primary-dark);
        border-right: none;
        border-bottom: none;
        border-right-color: transparent;
        transition: all 0.4s ease;
    }

    .ic__prev:hover div, .ic__next:hover div {
        border-left: 2px solid var(--primary-accent);
        border-top: 2px solid var(--primary-accent);
    }

    .ic__prev:active div, .ic__next:active div {
        border-left: 2px solid var(--primary-accent-light);
        border-top: 2px solid var(--primary-accent-light);
    }

    .ic__prev div {
        left: 25px;
        transform: rotate(-45deg) translateZ(0);
    }

    .ic__next div {
        right: 25px;
        transform: rotate(135deg) translateZ(0);
    }

    //Дни
    & .ic__days .ic__day-empty {
        background: transparent;
    }

    & .ic__days .ic__day {
        border-radius: 5px;
        font-weight: 500;
        color: var(--primary-dark);
        background: transparent;
        transition: all 0.4s ease;

        &:hover {
            color: var(--primary-white);
            background-color: var(--primary-accent-light);
        }

        &:active {
            background-color: var(--primary-accent-lightest);
        }
    }

    // Прошедшие дни
    & .ic__days .ic__day.ic__day_state_before {
        font-weight: 300;
        color: var(--primary-medium);

        &:hover, &:active {
            background-color: transparent;
        }
    }

    & .ic__days .ic__day.ic__day_state_selected.ic__day_state_before {
        color: var(--primary-white);
        background-color: transparent;

        &:hover, &:active {
            color: var(--primary-white);
            background-color: transparent;
        }
    }

    //Выбранный день
    & .ic__days .ic__day.ic__day_state_selected {
        background-color: var(--primary-medium-lighest);
        color: var(--primary-accent);

        &:hover, &:active {
            background-color: var(--primary-accent);
        }
    }

    //Сегодня
    & .ic__days .ic__day.ic__day_state_current {
        position: relative;
        background-color: var(--primary-medium-lighest);

        &:before {
            content: '';
            position: absolute;
            bottom: 3px;
            left: 50%;
            width: 5px;
            height: 5px;
            margin-left: -2.5px;
            border-radius: 50%;
            background-color: var(--primary-medium-light);
        }

        &:hover, &:active {
            background-color: var(--primary-medium-lighest);
            cursor: default;
        }
    }
}