.link-dark {
    transition: color 0.4s ease;
    &:hover {
        color: var(--primary-dark);
    }
    &:active {
        color: var(--primary-dark-light);
    }

    &._active {
        color: var(--primary-accent);
    }
}

.link-accent, .link-accent span, .link-accent .icon-svg {
    cursor: pointer;
    transition: all 0.4s ease;
    &:hover, &:hover span {
        color: var(--primary-accent);
    }

    &:hover .icon-svg {
        opacity: 1;
        fill: var(--primary-accent);
    }

    &:active, &:active span {
        color: var(--primary-accent-light);
    }

    &:active .icon-svg {
        fill: var(--primary-accent-light);
    }
}

.link-second {
    color: var(--primary-accent);
    transition: all 0.4s ease;
    &:hover {
        color: var(--primary-dark);
    }
    &:active {
        opacity: 0.6;
    }
}

