.logo {
    position: relative;
    bottom: -2px;
    width: 30px;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        width: 54px;
        height: 60px;
    }
    @include media-breakpoint-up(xl, $grid-breakpoints) {
        width: 68px;
        height: 76px;
    }
    @include media-breakpoint-up(xxl, $grid-breakpoints) {
        width: 77px;
        height: 86px;
    }
}