.pagination {
    margin-top: 40px;
    &__list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    &__item {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        margin-right: 5px;
        padding: 10px;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 300;
        &:last-of-type {
            margin-right: 0;
        }
        &:hover {
            background-color: var(--primary-light-light);
        }
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            width: 55px;
            height: 55px;
            font-size: 18px;
        }
    }

    &__item._active {
        font-weight: 700;
        background-color: var(--primary-light-light);
    }



    &__link {
        font-size: inherit;
        font-weight: inherit;
        line-height: 1;
        cursor: default;
    }

    &__link.arrow {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        @include arrow;
    }

    &__link.arrow._left {
        margin-left: 5px;
    }

    &__link.arrow._right {
        margin-right: 5px;
    }
}