.pay._popup {
    position: fixed;
    z-index: 1500000;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    animation: popup-cart 0.5s;
    @include media-breakpoint-up(md, $grid-breakpoints) {
        right: 10%;
        width: 440px;
        height: auto;
    }
}

.pay {
    padding-bottom: 30px;
    background-color: var(--primary-white);

    &__head {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        background-color: var(--primary-light-light);
    }

    &__back {
        @include arrow;
        transform: rotate(-45deg) translateZ(0);
        position: absolute;
        top: 15px;
        left: 20px;
        cursor: pointer;
    }

    &__head-text {
        font-weight: 700;
    }

    &__form {
        padding: 20px 20px 0;
    }

    &__notice-inner {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15px;

        & .icon-svg {
            width: 18px;
            height: 15px;
            margin-right: 10px;
            fill: var(--primary-green);
        }
    }

    &__text-notice {
        color: var(--primary-dark-light);
        & span {
            font-weight: 700;
        }
    }

    & input {
        width: 100%;
        height: 45px;
        margin-bottom: 15px;
        &::placeholder {
            font-size: 16px;
        }
    }

    & textarea {
        width: 100%;
        height: 70px;
        margin-bottom: 15px;
        resize: none;
        &::placeholder {
            font-size: 16px;
        }
    }

    & .checkbox {
        margin-bottom: 15px;
    }

    &__text-sum {
        margin-bottom: 15px;
        font-weight: 400;
        & span {
            font-weight: 700;
        }
    }

    & .btn {
        width: 100%;
        background-color: var(--primary-green);
    }

    &__add-coment {
        margin-bottom: 20px;
        cursor: pointer;
    }
}


//Табы
.pay-tab {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    overflow: hidden;
    &__link {
        width: 50%;
        border: 1px solid var(--primary-accent);
        padding: 10px 10px;
        font-size: 14px;
        line-height: 1.67;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: var(--primary-accent);
        background-color: inherit;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            padding: 5px 10px;
            font-size: 15px;
        }
        &:hover {
            color: var(--primary-white);
            background-color: var(--primary-accent);
        }

        &:first-of-type {
            border-radius: 3px 0 0 3px;
        }

        &:last-of-type {
            border-radius: 0 3px 3px 0;
        }

        &.active {
            color: var(--primary-white);
            background-color: var(--primary-accent);
        }
    }

    &__tab-content {
        display: none;
    }
}