.place-card {
    position: relative;
    width: 180px;
    padding: 10px 30px 10px 20px;
    background-color: var(--primary-white);
    box-shadow: 0 0 15px 0 rgba(40, 40, 40, 0.15);
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 10px;
        width: 1px;
        height: 100%;
        border: 1px dotted var(--primary-dark-light);
    }

    &__type {
        font-weight: 600;
        color: var(--primary-dark-light);
    }

    &__place {
        font-weight: 300;
    }

    &__cost {
        font-weight: 700;
        color: var(--primary-dark);
    }
}