.popup-search {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding: 60px 20px;
    background-color: var(--primary-white);

    opacity: 1;
    visibility: visible;
    transition: opacity .3s, visibility .3s;

    &.hidden-visible {
        opacity: 0;
        visibility: hidden;
        animation: top-way 0.4s reverse;
    }

    @include media-breakpoint-up(lg, $grid-breakpoints) {
        display: none;
    }

    &__close {
        @include close;
        position: absolute;
        width: 24px;
        height: 24px;
        top: 30px;
        right: 30px;
        &::before, &::after {
            background-color: var(--primary-dark);
        }
    }

    &__title {
        margin-bottom: 40px;
    }

    &__inner {
        position: relative;
        display: block;
        margin-bottom: 50px;
    }
}