.radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    user-select: none;
    transition: all 0.4s ease;

    & input[type="radio"] {
        position: absolute;
        display: none;
        opacity: 0;
        cursor: pointer;
        transition: all 0.4s ease;
    }

    &:hover input[type="radio"] ~ &__checkmark {
        background-color: var(--primary-medium);
    }

    & input[type="radio"]:checked ~ &__checkmark {
        background-color: var(--primary-accent);
    }

    & input[type="radio"]:checked ~ &__checkmark:after {
        display: block;
    }

    &__checkmark {
        position: absolute;
        top: 4px;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: var(--primary-white);
        border-radius: 50%;

        &::after {
            content: "";
            position: absolute;
            top: 6px;
            left: 6px;
            display: none;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: var(--primary-white);
        }
    }
}
