.slider {

    &__for {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            width: 260px;
            height: 160px;
        }

        & img {
            display: inline-block;
            width: 260px;
            height: 160px;
            border-radius: 5px;
            &:hover {
                opacity: 0.8;
            }
            &:active {
                opacity: 0.4;
            }
        }
    }

    &__nav {
        width: 100%;
        margin: 0 auto;
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            width: 260px;
        }

        .slick-slide {
            margin-left: 5px;
        }

        .slick-list {
            margin-left: 0;
        }

        & img {
            display: inline-block;
            width: 80px;
            height: 50px;
            object-fit: cover;
            transition: opacity 0.4s ease;
            &:hover {
                opacity: 0.8;
            }
            &:active {
                opacity: 0.4;
            }
        }
    }
}