.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border: 1px solid var(--primary-accent);
    border-radius: 50%;
    transition: all 0.4s ease;
    &:hover {
        border-color: var(--primary-accent-light);
    }

    &:hover .icon-svg {
        fill: var(--primary-accent-light);
    }

    &:active {
        border-color: var(--primary-accent-lighest);
    }

    &:active .icon-svg {
        fill: var(--primary-accent-lighest);
    }

    & .icon-svg {
        width: 30px;
        height: 20px;
        fill: var(--primary-accent);
        transition: all 0.4s ease;
    }
}