.sticky-cart {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: var(--primary-dark-special);
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        padding-bottom: 0;
    }


    & .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            flex-flow: row nowrap;
        }
    }

    &__count {
        display: block;
        font-weight: 300;
        color: var(--primary-white);
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            display: none;
        }
    }

    &__places {
        display: none;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: flex-start;
            max-width: 65%;
        }
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            max-width: 55%;
        }
    }

    &__sum {
        margin-left: auto;
        margin-right: 20px;
        font-weight: 300;
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            margin-right: 60px;
        }
        color: var(--primary-white);
        & span {
            font-weight: 700;
        }
    }

    & .btn {
        width: 100%;
        margin-top: 10px;
        background-color: var(--primary-green);
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            width: auto;
            margin-top: 0;
        }
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            width: 300px;
        }
    }
}