.switch {
    display: none;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 65px;
        padding: 15px 0;
        border-radius: 5px;
        background-color: var(--primary-white);
        box-shadow: 0 0 15px 0 rgba(40, 40, 40, 0.15);
    }

    &__text {
        margin-bottom: 10px;
    }

    & .icon-svg {
        display: block;
        width: 23px;
        height: 25px;
        margin-bottom: 15px;
        cursor: pointer;
        fill: var(--primary-medium);
        transition: all 0.4s ease;
        &:last-of-type {
            margin-bottom: 0;
        }
        &:hover {
            fill: var(--primary-accent);
        }
        &:active {
            opacity: 0.6;
        }
    }

    & .icon-svg._active {
        fill: var(--primary-dark);
        cursor: default;
        &:hover {
            fill: var(--primary-dark);
        }

        &:active {
            opacity: 1;
        }
    }
}