{% macro classList(className) %}
<section class="event-search {% if className %} {{ className }} {% endif %}">
    <div class="container">
        <form class="event-search__form col-12" action="" id="search-form">
            <p class="event-search__title title-h4">Подбор событий</p>
            <div class="event-search__icon-inner">
                <select class="js-example-basic-single  event-search__select  __category" name="categories"
                        form="search-form">
                    <option></option>
                    <option value="category-2">Балет</option>
                    <option value="category-3">Опера</option>
                    <option value="category-4">Концерт</option>
                    <option value="category-5">Детям</option>
                    <option value="category-6">Гастроли</option>
                </select>
            </div>
            <div class="event-search__icon-inner">
                <select class="js-example-basic-single  event-block__select  __rooms" name="rooms" id=""
                        form="search-form">
                    <option></option>
                    <option value="category-2">Балет</option>
                    <option value="category-3">Опера</option>
                    <option value="category-4">Концерт</option>
                    <option value="category-5">Детям</option>
                    <option value="category-6">Гастроли</option>
                </select>
            </div>
            <div class="event-search__icon-inner">
                <input class="myInput ic-calendar-datepicker _calendar" id="myDatePicker-1" data-lang="ru"
                       data-sundayfirst="false" placeholder="Дата" autocomplete="off">
                <svg class="icon-svg  _icon-calendar">
                    <use xlink:href="#calendar"></use>
                </svg>
            </div>
            <button class="btn _big">Найти событие</button>
        </form>
    </div>
</section>
{%  endmacro %}