{% macro eventcard (params) %}
    {% if params.type == 'full' %}
    <article class="event-card">
        <img class="event-card__img" src="{{ params.link }}" alt="">
        <p class="event-card__name  title-h5">{{ params.name }}</p>
        <p class="event-card__date  title-h5">
            <span class="day">{{ params.day }}</span>
            <span class="month">{{ params.month }}</span>
            <span class="day-time">{{ params.weekday }}. {{ params.time }}</span>
        </p>
        <div class="event-card__inner">
            <svg class="icon-svg _pin">
                <use xlink:href="#pin"></use>
            </svg>
            <p class="event-card__room">{{ params.room }}</p>
        </div>
        <a class="btn _nobg  event-card__link" href="#">Купить билеты</a>
    </article>

    {% elseif params.type == 'cart' %}
        <article class="event-card _cart">
            <button class="event-card__close close" type="button"></button>
            <p class="event-card__date  title-h5">
                <span class="day">{{ params.day }}</span>
                <span class="month">{{ params.month }}</span>
                <span class="day-time">{{ params.weekday }}. {{ params.time }}</span>
            </p>
            <img class="event-card__img" src="{{ params.link }}" alt="">
            <p class="event-card__name  title-h5">{{ params.name }}</p>
            <div class="event-card__inner">
                <p class="event-card__room">{{ params.room }}</p>
                <p class="event-card__room">{{ params.place }}</p>
            </div>
            <p class="event-card__cost">{{ params.cost }}</p>
        </article>

    {% else %}
    <article class="event-card _platform">
        <img class="event-card__img" src="{{ params.link }}" alt="">
        <p class="event-card__name  title-h5">{{ params.name }}</p>
        <div class="event-card__inner">
            <svg class="icon-svg _pin">
                <use xlink:href="#pin"></use>
            </svg>
            <p class="event-card__room">{{ params.room }}</p>
        </div>
    </article>
    {% endif %}
{% endmacro %}