{% macro placecard (params) %}
    <div class="place-card">
        <p class="text place-card__type">{{ params.type }}</p>
        <p class="text place-card__place">{{ params.place }}</p>
        <p class="title-h5 place-card__cost">{{ params.cost }}</p>
    </div>
{% endmacro %}