.about-main {
    padding: 60px 0 50px;
    background-color: var(--primary-light-lighest);
    &__title {
        margin: 0 auto 50px;
        text-align: center;
    }

    &__text-block {
        column-count: 1;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            column-count: 2;
        }
        & p strong {
            display: block;
            margin-top: 40px;
            margin-bottom: 20px;
        }
    }
}