.poster-main {
    position: relative;
    padding: 40px 0 25px;
    background-image: url("../img/index/bitmap.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        padding: 100px 0 70px;
        margin: 0;
    }

    & .container {

    }

    &__author {
        display: none;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            display: block;
            margin-bottom: 10px;
            font-weight: 400;
            color: var(--primary-white);
        }
    }

    &__name {
        margin-bottom: 15px;
        color: var(--primary-white);
    }

    &__info {
        color: var(--primary-white);
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            margin-bottom: 27px;
        }
    }

    & .myCalendar {
        display: none;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            display: block;
        }
    }

    & .btn {
        display: none;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            display: inline-block;
        }
    }
}