<footer class="footer">
    <div class="container">
        <div class="row">
            <ul class="footer-menu__list">
                <li class="footer-menu__item  text"><a class="footer-menu__link link-accent  title-h6" href="#">Балет</a></li>
                <li class="footer-menu__item  text"><a class="footer-menu__link link-accent  title-h6" href="#">Опера</a></li>
                <li class="footer-menu__item  text"><a class="footer-menu__link link-accent  title-h6" href="#">Концерты</a></li>
                <li class="footer-menu__item  text"><a class="footer-menu__link link-accent  title-h6" href="#">Детям</a></li>
                <li class="footer-menu__item  text"><a class="footer-menu__link link-accent  title-h6" href="#">Гастроли</a></li>
                <li class="footer-menu__item  text"><a class="footer-menu__link link-accent  btn _nobg title-h6" href="/contacts.html">Написать</a></li>
            </ul>
            <a href="tel:+78129152716" class="footer__phone title-h6 link-accent">+7 (812) 915-27-16</a>
            <section class="footer__social">
                <p class="footer__social-text title-h6">Мы в социальных сетях:</p>
                <a href="#" class="footer__social-link social-link  _vk" target="_blank">
                    <svg class="icon-svg">
                        <use xlink:href="#vk"/>
                    </svg>
                </a>
            </section>
        </div>
        <div class="row">
            <p class="footer__copyright small">
                2019 Все права защищены. Данный сайт не является официальным сайтом Большого театра.
            </p>
        </div>
    </div>
</footer>