<header class="header">
    <div class="container  header__top">
        <div class="row">
            <div class="col-8 col-md-10 col-lg-4 col-xl-3 col-xxl-3 header__inner">
                <a href="/"><img class="header__logo  logo" src="/img/logo.png" alt="Логотип"></a>
                <div class="header__wrap">
                    <p class="header__title title-h4">Билеты <span>в театр</span></p>
                    <p class="header__sub-title small">Он-лайн заказ билетов</p>
                </div>
            </div>
            <div class="col-2 col-md-1 col-lg-4 col-xl-5 col-xxl-5 header__search">
                <button class="js-search-icon header__search-mob-inner" type="button">
                    <svg class="icon-svg">
                        <use xlink:href="#сalendar-search"></use>
                    </svg>
                </button>

                <div class="header__search-desc-inner">
                    <input class="header__search-input" type="text" placeholder="Найти по названию">
                    <svg class="icon-svg">
                        <use xlink:href="#search"></use>
                    </svg>
                </div>
            </div>
            <div class="col-2 col-md-1 col-lg-4 col-xl-4 col-xxl-4  header__inner">
                <a class="title-h5 lang  header__lang  link-accent" href="#">Eng</a>
                <a class="phone title-h5  header__phone  link-accent" href="tel:+78129152716"><span>(812)</span>
                    915-27-16</a>
                <a class="cart" href="/">
                    <span class="cart__inner">
                        <svg class="icon-svg">
                            <use xlink:href="#cart"></use>
                    </svg>
                    <span class="cart__counter small js-cart-count">12</span>
                    </span>
                    <p class="title-h5">Корзина</p>
                </a>
            </div>
        </div>
    </div>
    <div class="header-menu {% if (headerMenuBg) %} _bg {% endif %}">
        <nav class="container">
            <div class="col-lg-3 _helper">
            </div>
            <ul class="col-12 col-lg-9 header-menu__list">
                <li class="header-menu__item"><a class="header-menu__link  _active" href="#">Балет</a></li>
                <li class="header-menu__item"><a class="header-menu__link" href="#">Опера</a></li>
                <li class="header-menu__item"><a class="header-menu__link" href="#">Концерты</a></li>
                <li class="header-menu__item"><a class="header-menu__link" href="#">Детям</a></li>
                <li class="header-menu__item"><a class="header-menu__link" href="#">Гастроли</a></li>
            </ul>
        </nav>
    </div>
</header>