.footer {
    flex-shrink: 0;
    padding: 35px 0;
    background-color: var(--primary-dark);

    & .row {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        margin-right: 0;
        margin-left: 0;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            flex-flow: row wrap;
            margin-bottom: 20px;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    & .btn._nobg {
        border: 1px solid var(--primary-white-lightest);
        color: var(--primary-white);
    }

    &__phone {
        margin-bottom: 15px;
        color: var(--primary-white);
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            margin-left: auto;
            margin-right: 20px;
            margin-bottom: 0;
        }
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__social {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            margin-bottom: 0;
        }
    }

    &__social-text {
        display: none;
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            display: block;
            margin-right: 15px;
            color: var(--primary-white);
        }
    }

    &__copyright {
        text-align: center;
        color: var(--primary-medium);
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            margin-bottom: 0;
            text-align: left;
        }
    }
}


.footer-menu {
    &__list {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 40px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            flex-flow: row wrap;
            margin-bottom: 0;
        }
    }

    &__item {
        &:not(:last-of-type) {
            margin-bottom: 15px;
            @include media-breakpoint-up(lg, $grid-breakpoints) {
                margin-right: 30px;
                margin-bottom: 0;
            }
        }

        & .btn:hover {
            border: 1px solid var(--primary-accent) !important;
        }
    }

    &__link {
        color: var(--primary-white);
        &:hover {
            opacity: 1;
            color: var(--primary-accent) !important;
        }
    }

    & .btn {
        margin-bottom: 15px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            margin-bottom: 0;
        }
    }
}
