.header {
    & .row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            padding: 0;
            margin-left: -15px;
            margin-right: -15px;
        }
    }

    &__top {
        padding:  10px 0;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            padding: 10px 10px 0;
        }
    }

    &__inner {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            height: 75px;
        }
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            display: flex;
            flex-flow: row wrap;
            height: auto;
        }
    }

    &__wrap {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            margin-top: 5px;
        }
    }

    &__logo {
        margin-right: 7px;
    }

    &__title.title-h4 {
        font-size: 18px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            font-size: 30px;
        }
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            font-size: 25px;
        }
        @include media-breakpoint-up(xxl, $grid-breakpoints) {
            font-size: 29px;
        }
        & span {
            font-weight: 400;
        }
    }

    &__sub-title {
        display: none;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            display: block;
            font-weight: 300;
        }
    }

    &__lang {
        display: none;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            display: block;
            font-weight: 300;
        }
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            margin-right: 15px;
        }
        @include media-breakpoint-up(xxl, $grid-breakpoints) {
            margin-left: 15px;
            margin-right: 30px;
        }
    }

    &__phone {
        display: none;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            display: block;
            margin-right: 25px;
        }
        @include media-breakpoint-up(xxl, $grid-breakpoints) {
            margin-right: 50px;
        }
    }

    &__search {
        width: auto;
        margin-left: auto;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            width: 100%;
            margin-left: 0;
        }
    }

    &__search-desc-inner {
        display: none;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            display: block;
        }
    }

    &__search-mob-inner {
        display: block;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            display: none;
        }

        & .icon-svg {
            position: relative;
            top: 5px;
            width: 25px;
            height: 25px;
        }
    }

    &__search-input {
        width: 100%;
    }
}