.header-menu {
    position: relative;
    z-index: 5;
    background-color: var(--primary-dark);
    overflow: scroll;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        background-color: var(--primary-dark-light);
        overflow: hidden;
    }

    & ._helper {
        display: none;
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            display: block;
        }

    }

    & .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    &._bg {
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            background-color: var(--primary-dark);
        }
    }

    &__list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 10px 0;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            padding-left: 15px;
            padding-right: 15px;
        }
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            justify-content: flex-start;
        }
    }

    &__item:not(:last-of-type) {
        margin-right: 20px;
        font-size: 18px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            margin-right: 40px;
        }
    }

    &__link {
        position: relative;
        color: var(--primary-white);
        transition: opacity 0.4s ease;

        &:hover::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -11px;
            width: 100%;
            height: 5px;
            border-radius: 3px;
            background-color: var(--primary-accent);
            animation: visioner 0.4s ease;
        }

        &:active {
            opacity: 0.6;
        }

        &._active {
            color: var(--primary-white-light);
            opacity: 1;
            cursor: default;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: -11px;
                width: 100%;
                height: 5px;
                border-radius: 3px;
                background-color: var(--primary-medium);
                animation: none;
            }
        }
    }
}